src/main/app/eai-3982.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" basePath="/" doc:name="HTTP Request Configuration"/>
    <flow name="eai-3982Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'exception']" doc:name="Set Payload"/>
        <set-variable variableName="exceptionNumber" value="#[payload]" doc:name="Variable"/>
        <validation:is-true expression="#[message.inboundProperties.'exception' &lt; 400]" doc:name="Validation"/>
        <logger message="#[&quot;Exception: &quot; + message.inboundProperties.'exception']" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy" logException="#[(flowVars.exceptionNumber &lt; 500)  || (flowVars.exceptionNumber &gt; 509)]">
            <logger message="#[&quot;catching error &quot; + flowVars.exceptionNumber]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
